doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Android Studio Installation and Setup

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article
			section
				h1 Hi
			section
				h2 Who am I?
				br
				img(src="images/me.jpg" width="20%" height="auto")
				h3 Matt Kelsey
				h4 Junior - SAAS - Programmer - FTC 2856
				h4 matthewkelsey@seattleacademy.org | mattkelsey

			section
				h1 Hardware
				h4 (I'll make it quick)
			
			section
				img(src="images/hardware1.png")
			section
				img(src="images/hardware2.png")

			section
				img(src="images/hardware3.png")

			section
				img(src="images/hardware4.png")

			section
				img(src="images/hardware5.png")
			section
				h1 Android Studio Installation and Setup
			section
				h2.bullet What is Android Studio
				h3.bullet IDE
				h3.bullet Java and XML
				h3.bullet Gradle
				h3.bullet Compile and deliver application to <u>robot controller</u> phone
			section
				img(src="images/android.png" width="300px" height="300px")
			section
				h2.bullet Java and XML
				h3.bullet XML (e<u>X</u>stensible <u>M</u>arkup <u>L</u>anguage)
				h3.bullet Java is syntactically very similar to C#
				h3.bullet All OpModes are written in Java
				h3.bullet FTC SDK is code written for FTC purposes (a library) that will be added to Java that allows us to more easily interface with the hardware on the robot.
				
			section
				h2 What you'll need
				h3.bullet Install Java Development Kit (JDK)
				h3.bullet Install Android Studio
				h3.bullet Install and Configure FTC SDK
				h3.bullet Configure Device
				h3.bullet Fix Problems
			
			section(data-bespoke-backdrop='emphatic')
				h2.bullet FTC SDK (Software Development Kit) Installation
				h3.bullet Fork FTC SDK
				img.bullet(src='images/fork.png')
				h3
				pre.bullet git clone https://github.com/[Team Github]/[your fork's name]
				h3.bullet For example...
				pre.bullet git clone https://github.com/RedshiftRobotics/2856

			section
				h1 Install Android Studio
			section
				h2.bullet System Requirements
				h3.bullet 2GB of RAM, preferably more
				h3.bullet JDK 8 (JDK 7 works too... Installing both can be helpful if you have issues)
				h3.bullet One metric ton of harddrive space.

			section(data-bespoke-backdrop='emphatic')
				img(src='images/startscreen.png')
				
			section(data-bespoke-backdrop='emphatic')
				h2.bullet Select 'Import Project', not 'Import Code Sample'
				h3.bullet Find the directory where you just cloned your fork of the FTC SDK
								
			section
				img.bullet(src='images/sdkmanager.png')
				h3.bullet if this doens't show up, you have all the packages you need installed

			section
				h2.bullet Packages You Will Need:
				br
				pre.bullet Android 4.4.2 | 4.4.4 | 5.x.x | 6.x.x
				pre.bullet Build Tools for your version of Android

			section
				h2 Sneaky Buttons
				img(src='images/accept.png')

			section
				h2.bullet Phone Configuration
				h3.bullet Download FTC Drive Station
				h3.bullet Wifi Direct
				h3.bullet Enable USB Debugging
				h3.bullet Driver Installation

			section
				h2 Let's take a look.
				h3 If you're reading through this after the fact just follow the instructions.

			section
				h2.bullet WiFi Direct
				h3.bullet Allows for communications between the Drive Station and Robot Controller
				h3.bullet
					pre Settings>Airplane mode>On
				h3.bullet
					pre Settings>WiFi>On
				h3.bullet
					pre Settings>WiFi>Overflow Settings (three dots)>WiFi Direct

			section
				h2.bullet WiFi Direct Configuration
				h3.bullet
					pre Overflow Settings>Rename Device
				h3.bullet [TEAM NUMBER]-[ds/rc]
				h3.bullet i.e. 2856-rc and 2856-ds
				h3.bullet Establish connection between devices

			section(data-bespoke-backdrop='emphatic')
				h2.bullet Developer Options
				h3.bullet Adds functionality to the communications between the Android device and the computer
				h3.bullet Needs to be enabled in order to upload apps and receive debugging information from the phone
				h3.bullet
					pre Settings>About Phone
				h3.bullet Tap 'SW Version' 7 times

			section(data-bespoke-backdrop='emphatic')
				h2.bullet Enabling USB Debugging
				h3.bullet
					pre Settings>Developer Options>USB Debugging

			section
				h2.bullet Drivers (Windows Only)
				img.bullet(src="images/driver.png")
				br
				h4.bullet The phone will connect as a CD to the computer.
				h4.bullet Browse to the Windows folder and run the autorun file
				h4.bullet Press next... A lot.
			section
				h2.bullet Ready to code!
				h3 (finally)
			section
				img(src="images/as.png")
			section
				img(src="images/as2.png")
			section
				img(src="images/as3.png")
			section
				h2.bullet Useful Recources
				h3.bullet This presentation (http://saasrobotics.com/presentation-android-studio/)
				h3.bullet Android Developers (<a href="https://developer.android.com/studio/intro/index.html" target="_blank">developers.android.com</a>)
				h3.bullet StackOverflow (<a href="www.stackoverflow.com" target="_blank">stackoverflow.com</a>) a.k.a Google
				h3.bullet FTC Forums (<a href="http://ftcforum.usfirst.org" target="_blank">ftcforum.usfirst.org</a>)
				h3.bullet FTC Control System Guide (<a href="http://www.firstwa.org/Portals/0/Programs/FTC/2016-2017/FTC%20Control%20Systems.pdf?ver=2016-09-16-161636-263">Click here</a>)
				h3.bullet Contact Us - saasrobotics@gmail.com

		script(src='build/build.js')
